body {
    /* background: linear-gradient(to bottom, rgb(20,20,20), rgb(60,60,60)); */
    background-color: rgb(18,58,49);
} 


nav {
}

.nav-link {
    color: red
}

h1 {
    background-color: black;
    color: rgb(18,58,49);
    font-size: 100px;
    margin-left: 20px;
}

h2 {
    color: lightblue;
    text-align: center;
    font-size: 50px;
}
h2:hover {
    color: red;
}

p,a {
    color: white;
    font-size: 20px;
    text-align: justify;
    margin-left: 40px;
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
}

.active {
    font-weight: 1000;
}


.section-number-2 {
    color: grey;
}

li {
    color: red;
    margin-left: 100px;
}

.me {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 500px;
    
}

.img1 {
    margin-left: 900px;
    margin-right: 100px;
    
}

.submit-button {
    margin: 20px 10px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: rgb(89, 150, 255);
    transform: matrix(1, 0.45, 0.45, 1, 100, 50);
    -webkit-transition: background, padding 500ms ease;
    -moz-transition: background, padding 500ms ease;
    -o-transition: background, padding 500ms ease;
}
