*, html {
    margin: 0 0 0 0;
}

:root {
    --rosa: rgb(255, 166, 221);
    --verde: rgb(38,129,107);
}

body {
    background: linear-gradient(to bottom, rgb(50,50,50), black);
    /* background-color: rgb(18,58,49); */
    /* background: url("./img/silver2.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-size: 3em;
    font-family: "tvlg mono", monospace;
    margin: 0;
}

.container {
    background-color: grey;
    margin: 10px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.container-item {
    Background: red;
    color: white;
    font-size: 25px;
    text-align: center;
    width: 70px;
    line-height: 50px;
    margin: 10px;
}

.container3, .Ccfd {
    display: flex;
    Background-color: transparent;
    margin: 0vw 10vw 0 10vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    aling-content: ;
    flex-wrap: nowrap;
    
}

.img3 {
    max-width: 100%;
}

/* #img33 { */
/*     margin: 10vw; */
/*     max-width: 500px; */
/* } */
.description, .tcfd {
    
    background-color: var(--verde);
    padding: 2vw;
    max-width: 400px;
    flex: 0 1 300px;
    font-weigth: 800;
    font-size: 0.5em;
    margin: 2vw;
    z-index: 1;
    opacity: 0.9;
    -webkit-animation: intro-block 500ms;
}


.tcfd {
    max-width: 100%;
    flex: 0 1 100vw;
}


#imgcfd {
    max-width: 100%;
    transform: scale(2);
    transition: transform 1s;
    z-index: 2;
}
.pic2 {
    max-width: 700px;
    margin: 0;
}

.pic {
    
    max-width: 300px;
    flex: 0 1 300px;
    /* align-self: flex-start; */
    
}

.me3 {
    /* Background-color: black; */
    padding: 2vw;
    /* margin: 4vw 2vw 2vw 2vw; */
    flex: 1 10 200px;
    letter-spacing: 0.15em;
    font-weight: 800;
    color: var(--verde);
}


.container4 {
    display: flex;
    background: darkgrey;
    height: 500px;
    align-items: center;
    justify-content: center;
    
}

.box1 {
    background: red;
    margin: 2vw;
    font-size: 0.4em;
    max-width: 700px;
    flex: 0 10 600px;
}

.box2 {
    background: darkred;
    margin: 2vw;
    max-width: 400px;
    font-size: 0.4em;
    flex: 0 1 250px;
}

h1 {
    margin: 0;
    background: var(--verde);
    padding: 10vw 1vw 5vw 5vw;
    padding: 10vw 10vw 1vw 5vw;
    color: black;
    text-transform: lowercase;
    letter-spacing: 0.2em;
    font-size: 7vw;
    text-align: right;
    font-weight: 1000;
}

h2 {
    margin: 3vw;
    color: rgba(255,166,221,1);
    text-align: center;
    font-size: 100%;
    /* animation-name: red-to-black; */
    /* animation-duration: 5s; */
}

/* h2:hover { */
/*     color: rgba(255,166,221,0.5); */
/* } */

p {
    color: white;
    font-size: 50%;
    /* text-align: justify; */
    /* margin-left: 15vw; */
    /* margin-right: 20vw; */
    text-decoration: none;
    /* font-family: sans-serif; */
}

#navbar {
    /* color: rgb(255,166,221); */
    color: var(--rosa);
    font-size: 60%;
    text-decoration: none;
    text-align: center;
    padding: 0.2em 1em 0.2em 1em;
    flex-shrink: 0 0 100px;
    /* font-family: sans-serif; */
}

.icon-item {
    max-width: 50px;
    padding: 2vw;
    margin: 1vw;
}

.icon-item:hover {
    Background-color: rgb(255,200,255);
}

.title-footer {
    color: black;
    flex-shrink: 0;
    flex-grow: 1;
    font-size: 2vw;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    margin: 10vw 0vw;
    background-color: var(--rosa);
    justify-content: center;
}

#navbar:hover{
    /* font-weight: bolder; */
    background-color: rgb(20,20,20);
    padding: 0.3em 1.1em 0.3em 1.1em;
    transition: all 0.5s;
}

#linkedin, #mail, #cvicon, #call {
    max-width: 100%;
}

#mail:hover {
    transform: translate(50px, 30px);
    transition: transform 1s ease;
}

a[class=active] {
    font-weight: 1000;
    color: rgb(255,100,200);
}

#ActualLink {
    text-decoration: none;
    font-weight: 600;
}

#ActualLink:link{
    margin: 0;
    color: var(rosa);
}

#ActualLink:visited {
    margin: 0;
    color: rgba(255,166,221,0.4);
}

img[src^="./img/"] {
    /* border:10px solid black; */
}

nav {
    margin: 0;
    padding: 1em 0 0.5em 0;
    background: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.me {
    padding: 1em 2em 1em 1em;
    margin: 5vw 0 0 30vw;
    background: grey;
    color: white;
    font-weight: bold;
    /* float: right; */
}

.img1 {
    margin: 5vw 0 0 5vw;
    float: left;
}

.submit-button {
    margin: 20px 10px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: rgb(89, 150, 255);
}

.submit-button:hover {
    background: red;
    padding: 20px 30px;
    transition: all 2s ease-in-out 1s;
}

@media (max-width: 650px) {
    .container3 {
	flex-direction: column;
    }
    .description {
	
	flex: 0 1 100px;
    }
    #navbar {
	font-size: 50%;
    }
    .footer {
	flex-wrap: wrap;
    }
    .title-footer {
	font-size: 100%;
	margin: 0;
    }
    .icon-item {
	max-width: 70px;
	margin-bottom: 4vw;
    }

}


@keyframes red-to-black {
    0% {background: red; transform: translate(0px,0px);}
    50% {background: yellow; transform: translate(10px,10px);}
    100% {background: black; transform: translate(20px,20px);}
}

@keyframes intro-block {
    0% {transform: translate(-7vw,0px); opacity: 0}
    100% {transform: translate(0px,0px); opacity: 0.9}
}

